@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    background-color: black;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 100px;
    height: auto;
}

nav {
    width: 60%
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

li:hover {
    color: gold;
}

.logo {
    width: 120px;
    height: auto;
}

#banner {
    background-image: url("banner\ Jurassic.jpg");
    background-position-x: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 400px;
}

#trailer-container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}

.content {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trailer {
    width: 50%;
}

#sinopse {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}

.description {
    color: #fff;
    font-size: 14px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    width: 70%;
}

.button {
    width: 180px;
    height: 50px;
    background-color: rgba(255, 217, 0, 0.774);
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .8s;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;
    outline: none;
    margin-top: 25px;
}

.button:hover {
    background-color: #fff;
    color: black;

}

.actor-cards-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.cards-content {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 40px;
}

.card {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 20px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    color: #fff;
    font-size: 17px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.card:hover {
    transform: scale(1.02);
}

.banner-1 {
    background-image: url(Chris\ Pratt\ como\ Owen\ Grady.jpg);
}

.banner-2 {
    background-image: url(Jeff\ Goldblum\ como\ Dr.\ Ian\ Malcolm.png);
}

.banner-3 {
    background-image: url(Laura\ Dern\ como\ Ellie\ Sattler.jpg);
}

.banner-4 {
    background-image: url(Fotos1.png);
}

.banner-5 {
    background-image: url(Fotos2.webp);
}

.banner-6 {
    background-image: url(Fotos3.webp);
}

.banner-7 {
    background-image: url(Fotos4.jpg);
}

.banner-8 {
    background-image: url(Fotos5.webp);
}

.banner-9 {
    background-image: url(Fotos6.jpg);
}

.actor-cards-container2 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.cards-content2 {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
    column-gap: 100px;
}

.card2 {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: 100% 100%;
    border-radius: 20px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    color: #fff;
    font-size: 17px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.card2:hover {
    transform: scale(1.02);
}

.titulo-fotos {
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
    margin-left: 30px;
}

.título {
    color: #fff;
    font-size: 20px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    width: 90%;
}

footer {
    height: 200px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

span {
    color: #fff;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.footer-navigation {
    display: none;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    width: 10%;
}

@media(max-width: 768px) {
    .footer-navigation {
        display: block;
    }

    nav {
        display: none;
    }

    #banner {
        background-position: center;
    }

    #trailer-container {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
    }

    .content {
        width: 95%;
        display: flex;
        flex-direction: column;
    }

    .trailer {
        width: 100%;
    }

    #sinopse {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .description {
        width: 100%;
    }

    .button {
        width: 100%;
        margin-top: 30px;
    }

    .cards-content {
        grid-template-columns: 1fr;
        margin-top: 150px;
    }

    .cards-content2 {
        width: 95%;
        grid-template-columns: 1fr;
        margin-top: 150px;
        margin-top: 0px;
    }
    .cards-content3 {
        width: 95%;
        height: 450PX;
        display: block;
        grid-template-columns: 1fr;
        margin-top: 0px;
        background-size: contain;
        row-gap: 10px;
        background-position: top;
        justify-items: center;
    }
    .card3.comentario-1 {
        height: 130px;
        background-position: top;
    }
    .card3.comentario-2 {
        height: 130px;
        background-position: top;
    }
    .card3.comentario-3 {
        height: 130px;
        background-position: top;
    }

    .card2 {
        background-position: 30%;
        background-position: center;
    }

    .card3 {
       width: 100px;
       height: 100%;
       background-size: 0;
       background-size: contain;
    }
    .comentario-1 {
        width: 110px;
        height: 100px;
        background-size: contain;
        background-position: top;
    }

    .comentario-2 {
        width: 80%;
        background-size: contain;
    }
    .comentario-3 {
        width: 80%;
        background-size: contain;
    }
    .quadro-container {
        width: 150%;
        font-size: 75%;
        display: block;
        flex-direction: column;
        align-items: center;
        color: #fff;
        font-family: 'Kdam Thmor Pro', sans-serif;
        margin-bottom: 15px;
        padding: 0px 35px 0px 35px;
    }

    .enviar {
        width: 200px;
    }

    h1 {
        width: 200px;
        margin-bottom: 10px;
    }

    .titulo-fotos {
        width: 300px;
        align-items: center;
        justify-content: center;
    }

    .título {
        width: 300px;
        align-items: center;
        justify-content: center;
    }
    .actor-cards-container3 {
        background-size: contain;
    }
}

.back {
    background-image: url(background\ jurrassic1.jpg);
    background-size: cover;
    background-position: 50% 0;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: none;
}

.quadro-container {
    background-color: gold;
    width: 30%;
    height: 500px;
    display: flex;
    margin-top: 100px;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #000;
    font-family: 'Kdam Thmor Pro', sans-serif;
    background-color: gold;
    margin-bottom: 15px;
}

form {
    display: block;
    background-color: gold;
}


.pergunta-container {
    display: block;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-family: 'Kdam Thmor Pro', sans-serif;
    margin-bottom: 15px;

}

label {
    background-color: gold;
    color: #000;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 20px;
}

input {
    display: block;
    width: auto;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: #fff;

}

textarea {
    display: block;
    width: 190px;
    height: 100px;
    margin-top: 10px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: #fff;
}

.enviar {
    width: 180px;
    height: 50px;
    background-color: #000;
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .8s;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;
    outline: none;
    margin-top: 25px;
}

.enviar:hover {
    background-color: #fff;
    color: gold;
}

.actor-cards-container3 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.cards-content3 {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 50px;
    column-gap: 100px;
}

.card3 {
    width: 100%;
    background-position: 100% 100%;
    border-radius: 20px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 10px 10px;
    color: #fff;
    font-size: 17px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.card2:hover {
    transform: scale(1.02);
}

.comentario-1 {
    background-image: url(comentario1.png);
    background-repeat: no-repeat;
    background-position: left top;
    margin: 0;
    height: 200px;
}

.comentario-2 {
    background-image: url(comentario2.png);
    background-repeat: no-repeat;
    background-position: end right;
    margin: 0;
    height: 200px;
}

.comentario-3 {
    background-image: url(comentario3.png);
    background-repeat: no-repeat;
    background-position: left top;
    margin: 0;
    height: 200px;
}

.titulo-fotos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}